<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        
        {% for i in data %}

        
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{i[0]}}" placeholder="enter the name of the student">
        <label for="age">Age</label>
        <input type="number" name="age" id="age" value="{{i[1]}}" placeholder="enter the age of the student">
        <label for="rollnumber">Rollnumber</label>
        <input type="number" name="rollnumber" id="rollnumber" value="{{i[2]}}" placeholder="enter the rollnumber of the student">
        <label for="mark">Mark</label>
        <input type="number" name="mark" id="mark" value="{{i[3]}}" placeholder="enter the mark of the student">
        <input type="submit" value="submit">
        {% endfor %}
    </form>
</body>
</html>